<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mywebviewapp.example.com.mywebviewapp" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/palogo"
        android:label=""
        android:theme="@style/AppTheme" >

        <activity android:name=".SplashActivity" android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="PushAuto"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
 <uses-permission android:name="android.permission.INTERNET" />
    <uses-permision android:name="android.permission.CALL_PHONE"></uses-permision>
</manifest>
